.btn-main {
  background-color: #f03e3e !important;
  color: #222 !important;
  transform: all 500ms;
  border-color: transparent;
}

.btn-main:hover,
.btn-main:active {
  background-color: #ff8787 !important;
}